**/__pycache__/
*.pyc
02mblog/mblog/mblog/__pycache__/settings.cpython-313.pyc
02mblog/mblog/mblog/__pycache__/urls.cpython-313.pyc

02mblog/mblog/mblog/__pycache__/urls.cpython-313.pyc
02mblog/mblog/mblog/__pycache__/urls.cpython-313.pyc
