<!-- index.html (mvote project) -->
{% extends "base.html" %}
{% load mvote_extras %}
{% block title %}小電商{% endblock %}
{% block content %}
    <div class='container'>
        {% for message in messages %}
            <div class='alert alert-{{message.tags}}'>{{ message }}</div>
        {% endfor %}

        <div class='row'>
            <div class='col-md-12'>
                <div class='card'>
                    <div class='card-header' align=center>
                        <h3>歡迎光臨小電商</h3>
                        {% if user.is_authenticated %}
                            {% if user.socialaccount_set.all.0.extra_data.name %}
                                {{user.socialaccount_set.all.0.extra_data.name}}<br/>
                               <img src='{{user.socialaccount_set.all.0.get_avatar_url}}' width='100'>
                            {% else %}
                                Welcome: {{ user.username }}
                            {% endif %}
                        {% else %}
                            <p>歡迎使用Facebook註冊/登入你的帳號，才能購買本站優惠商品（教學測試用）。</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        <div class='row'>
            <div class='col-md-12'>
                <div class='panel panel-default'>
                    <div class='panel-heading' align=center>
                        <h3>商品分類</h3>
                    </div>
                    <div class='panel-body'>
                        <ul class='list-group'>
                            {% for category in categories %}
                                <li class='list-group-item'>
                                    <a href='{% url "category-url" category.id %}'>{{ category.name }}</a>
                                </li>
                            {% empty %}
                                <li class='list-group-item'>目前並沒有任何分類</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class='row'>
            {% load account %}
            {% for product in products %}
                <div class='col-xs-3 col-sm-3 col-md-3'>
                    <div class='thumbnail'>
                        <img src='{{product.image.url}}'>
                            <p>{{ product.image.url }}</p>
                            <a href="http://127.0.0.1:8000{{ product.image.url }}">圖片連結</a>
                        {% if product.image == None %}                            
                            <p>沒有圖片</p>
                        {% endif %}
                        <div class='caption'>
                            <h4><a href='{% url "product-url" product.id %}'>{{ product.name }}</a></h4>
                            <p>NT$ {{product.price }}</p>
                            <p>庫存：{{product.stock}}</p>
                            <p>{{ product.description }}</p>
                            {% if user.is_authenticated %}
                                <button class='btn btn-info' {{ product.stock | yesno:",disabled"}}>
                                    {% comment %} <a href='{% url "additem-url" product.id 1 %}'>放入購物車</a> {% endcomment %}
                                </button>
                            {% endif %}
                        </div>    
                    </div>
                </div>
                
            {% empty %}
                <center><h3>目前並沒有任何商品</h3></center>
            {% endfor %}
        </div>
    </div>
{% endblock %}

