{% extends "base.html" %}
{% load markdown_extras %}

{% block title %}部落格首頁模板{% endblock %}

{% block headmsg %}歡迎來到部落格-使用模板{% endblock %}

{% block content %}

        {% for post in posts %}
            <div class="card mb-3">
                <div class="card-body">
                    {% comment %} <h3 class="card-title">{{ post.title }}</h3> {% endcomment %}
                    <h3 class="card-title"><a href="/post/{{post.slug}}">{{ post.title }}</a></h3>
                    <p class="card-text">{{ post.body | convert_markdown | safe }}</p>
                    <p class="card-text"><small class="text-muted">發布於(使用模板) {{ post.pub_date }}</small></p>
                </div>
            </div>
        {% empty %}
            <p class="text-muted">目前沒有文章。</p>
        {% endfor %}
<hr><hr><hr>

                {% for poem in poems %}
            <div class="card mb-3">
                <div class="card-body">
                    {% comment %} <h3 class="card-title">{{ post.title }}</h3> {% endcomment %}
                    <h3 class="card-title"><a href="/post/{{post.slug}}">{{ poem.title_author }}</a></h3>
                    <p class="card-text">{{ poem.content | convert_markdown | safe }}</p>
                    <p class="card-text"><small class="text-muted">發布於(使用模板) {{ post.pub_date }}</small></p>
                </div>
            </div>
        {% empty %}
            <p class="text-muted">目前沒有文章。</p>
        {% endfor %}

{% endblock %}

    </div>
</body>
</html>
