{% extends "base.html" %}
{% block title %}DJ中古機賣場{% endblock %}
{% block content %}
<div class='container' align=center>
    {% for p in products %}
    <table>
        <tr><td align=center><h3>{{ p.nickname }}</h3></td></tr>
        <tr><td align=center><img src='/media/{{ p.images.first.media }}' width=350></td></tr>
        <tr><td align=center>{{ p.description }}</td></tr>
        <tr><td align=center>西元{{ p.year }}年出廠</td></tr>
        <tr><td align=center>售價：NT${{ p.price }}元</td></tr>
    </table>
    {% endfor %}
</div>
{% endblock %}